@use "../../styles/partials/variables" as *;

.navigation {
  &__button {
    border: none;
    padding: 0.3rem 0.8rem;
    border-radius: 8px;
    font-size: 1rem;
    background-color: $app-white;
    color: $app-blue;
    margin: 5px;

    &:hover {
      background-color: $app-pink;
      color: $app-white;
    }
  }
}
