@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.logo {
  width: 12rem;
  z-index: 1;
  border-radius: 8px;
}

.form {
  width: 100%;
  margin-bottom: 1rem;
  @include flex(column, center, center);

  @include desktop {
    @include flex(row, space-between, center);
  }

  &__container {
    padding: 1rem 0;

    @include desktop {
      padding: 0;
    }
    h4 {
      padding: 5px;
      font-size: 0.6rem;
      letter-spacing: 2px;
    }
  }

  &__fields {
    @include flex(column, center, center);

    @include desktop {
      flex-direction: row;
    }

    input {
      padding: 1rem;
      margin: 2px;
      border-radius: 5px;
      border: none;

      @include desktop {
        padding: 0.5rem 1rem;
      }
    }
  }

  &__cta {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 1px solid $app-white;
    background-color: $app-white;
    color: $app-blue;
    width: 100%;
    margin-top: 4px;

    @include desktop {
      width: auto;
      margin: 2px;
    }

    &:hover {
      background-color: $app-pink;
      color: $app-white;
    }

    &:disabled {
      background-color: transparent;
      color: $app-white;
    }
  }
}
