@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.form {
  padding: 1rem;
  @include flex(column, flex-start, center);

  h4 {
    padding: 5px;
    font-size: 0.8rem;
    letter-spacing: 2px;
  }

  &__fields {
    @include flex(row, center, center);

    input {
      padding: 0.5rem 1rem;
      margin: 2px;
      border-radius: 5px;
      border: none;
    }
  }

  &__cta {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    &:hover {
      background-color: $app-pink;
    }
  }
}
