@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.piechart {
  min-height: 12rem;
  position: relative;
  background-color: $app-white;
  @include flex(row, center, center);
  margin: 1rem 8rem;
  border-radius: 8px;
  height: 14rem;

  h3,
  &__text {
    position: absolute;
  }

  h3 {
    color: $app-pink;
    font-size: 1.2rem;
    left: 10rem;
  }

  &__text {
    right: 20%;
  }

  &__noCake,
  &__smallCake,
  &__largeCake {
    font-size: 1.2rem;
  }

  &__noCake {
    color: $app-blue;
  }

  &__smallCake {
    color: $app-pink;
  }

  &__largeCake {
    color: $app-blue;
  }
}
