@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.table-container {
  width: 100%;
  @include flex(column, flex-start, flex-end);
  height: 20rem;
  margin: 2rem 0;
  position: relative;

  @include desktop {
    margin: 1rem 0;
  }
}

.table {
  text-align: center;
  border-collapse: collapse;
  border-radius: 10px;
  width: 100%;
  background-color: $app-white;
  color: $app-pink;
  &__head {
    border-bottom: 7px solid $app-blue;

    tr {
      height: 3rem;
    }
  }

  &__body {
    color: $app-blue;
    width: 100%;
  }

  &__row {
    height: 3rem;
    width: 100%;
    position: relative;

    &:hover {
      background-color: #fff2f8;
    }

    td {
      font-size: 1rem;
      @include desktop {
        font-size: 1.2rem;
      }
    }
  }

  &__nodata {
    padding: 2rem;
    color: $app-white;
    font-weight: 600;
    text-align: center;
    width: 100%;
  }

  &__reset {
    border: none;
    padding: 0.3rem;
    border-radius: 8px;
    font-size: 0.6rem;
    background-color: $app-white;
    color: $app-blue;
    position: absolute;
    top: -2rem;
    right: 0;

    &:hover {
      background-color: $app-pink;
      color: $app-white;
    }
  }

  &__hide {
    min-width: 25%;
    width: 25%;
    @media screen and (max-width: 600px) {
      display: none;
    }
  }

  &__name {
    text-align: left;
    min-width: 30%;
    width: 30%;
    font-weight: 600;
    padding: 0 8px;
    @include desktop {
      padding-left: 3rem;
    }
  }

  &__cakeday {
    min-width: 25%;
    width: 25%;
    &--active {
      font-weight: 900;
      &:hover {
        color: $app-pink;
        cursor: pointer;
      }
    }
  }

  &__size {
    min-width: 30%;
    width: 30%;
  }

  &__delete {
    position: absolute;
    right: 1rem;
    top: 1.1rem;
    font-weight: 800;
    color: $app-blue;
    width: 2%;

    &:hover {
      cursor: pointer;
      color: $app-pink;
    }
  }
}
