@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.table-container {
  width: 100%;
  @include flex(column, center, center);
  padding: 1rem;
}

.table {
  text-align: center;
  border-collapse: collapse;
  border-radius: 10px;
  width: 80%;
  background-color: $app-white;
  color: $app-pink;
  &__head {
    border-bottom: 7px solid $app-blue;

    tr {
      height: 3rem;
    }
  }

  &__body {
    color: $app-blue;
    width: 100%;
  }

  &__row {
    height: 3rem;
    width: 100%;

    td {
      font-size: 1.2rem;
    }
  }

  &__error {
    padding: 4rem;
  }
}
